* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f6f7;
  width: 100%;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #222;
  color: yellow;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto 20px;
  justify-content: center;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 10px;
}

img {
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.gallery:hover img:not(:hover) {
  filter: grayscale(100%);
  opacity: 0.75;
}

.saturate {
  filter: saturate(7);
}

.contrast {
  filter: contrast(180%);
}

.huerotate {
  filter: hue-rotate(180deg);
}

.sepia {
  filter: sepia(100%);
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
